.techskills {
    height: 100vh;
  }

  .techskills-title {
    text-align: center;
    padding-top: 40px;
  }
  
  .techskills-icons-wrapper-left{
    border-style: dotted;
    flex: 1;
  }

  .techskills-icons-wrapper-right{
    border-style: dotted;
    flex: 1;
  }

  .techskills-wrapper{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width:50%;
    text-align: center;
}

.techskills-item{
    margin: 5%;
    border-style: solid;
    display: flex;

    justify-content: space-between;
}


.techskills-item-icon{
    margin-left: 20%;
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.techskills-item-text{
    margin-right: 20%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.techskills-title {
    font-size: 30px;
}