.techskills {
    display: flex;
    height: 100vh;
  }
  

  .techskills-wrapper{
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width:50%;
    text-align: center;
}

.techskills-item{
    margin: 5%;
    border-style: solid;
    display: flex;

    justify-content: space-between;
}


.techskills-item-icon{
    margin-left: 20%;
    width: 30px;
    height: 30px;
}

.techskills-item-text{
    margin-right: 20%;
    padding-top: 1%;
}

.techskills-title {
    font-size: 30px;
}